<h1>Hello, world!</h1>

<input type="file" ngf-select="main.fileSelected($file)" accept="'image/*'" ng-model="filePicker">
<input type="submit" ng-click="main.uploadFiles(filePicker)">

<br><br>
File:
<div style="font:smaller">{{main.f.name}} {{main.errFile.name}} {{main.errFile.$error}} {{main.errFile.$errorParam}}
		<span class="progress" ng-show="main.f.progress >= 0">
				<div style="width:{{main.f.progress}}%"  
							ng-bind="'Upload progress: ' +main.f.progress + '%'"></div>
		</span>
</div>     
{{errorMsg}}

